# Ignore everything
/*

# Track certain files and directories
!.gitignore
!/.sops.yaml
!/apply-config.sh
!/bootstrap.sh
!/secrets.sops.env
!/LICENSE
!/README.md

# VyOS bootstrap config
!/bootstrap/
/bootstrap/*
!/bootstrap/*.sh

# CI
!.github/
